@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$font-sans: 'Quicksand', sans-serif;

$text-sm: 12px;
$text-md: 14px;
$text-lg: 16px;
$text-xl: 20px;

$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

:root {
  --font-sans: 'Quicksand', sans-serif;
  --border-radius-lg: 12px;

  /* Font Sizes */
  --text-2xs: 10px;
  --text-xs-2: 11px;
  --text-xs: 12px;
  --text-sm-2: 13px;
  --text-sm: 14px;
  --text-md-2: 15px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
}