@use "sass:map";
@use "../../abstracts/avatar" as *;

@layer components {
  .avatar {
    @apply relative inline-flex items-center justify-center shrink-0 overflow-hidden bg-neutral-100 select-none align-middle;

    &--circle {
      border-radius: 9999px;
    }

    &--square {
      border-radius: var(--border-radius-lg, 0.5rem);
    }

    @each $name, $vals in $avatar-sizes {
      &--#{$name} {
        width: map.get($vals, size);
        height: map.get($vals, size);
        font-size: map.get($vals, font);

        .avatar__status {
          width: map.get($vals, status);
          height: map.get($vals, status);
        }
      }
    }

    @each $name, $colors in $avatar-colors {
      &--#{$name} {
        background-color: map.get($colors, bg);
        color: map.get($colors, color);
      }
    }

    &__image {
      @apply w-full h-full object-cover;
      border-radius: inherit;
    }

    &__fallback {
      @apply font-semibold tracking-wider leading-none text-inherit;
    }

    &__status {
      @apply absolute bottom-0 right-0 rounded-full border-2 border-white box-content;

      &--online {
        @apply bg-success-400;
      }

      &--offline {
        @apply bg-neutral-300;
      }

      &--busy {
        @apply bg-error-400;
      }

      &--away {
        @apply bg-warning-400;
      }
    }
  }
}